.box { 
    text-align: center; 
    background-color: #eeeeee;  
    width: 885px;  
    height: 895px; 
    border: 1px solid transparent; 
    border-radius: 30px; 
    background: #574436;

}

.chess-board { 
    border-spacing: 0; 
    border-collapse: collapse;
}

.chess-board th { 
    padding: .7em; 
    color: #fff0d9; 
}


.chess-board td { 
    border: 1px solid; 
    width: 100px; 
    height: 100px; 
    text-align: center; 
    vertical-align: middle;  
}

.chess-board .white { 
    background: #fff0d9; 
}

.chess-board .black { 
    background: #837165; 
}

.img{
    font-size: 80px;
    z-index: 1000;
}

p{
    margin: 0;
    color: rgb(20, 22, 21);
}